<div class="container">
    <div id="welcomeCarousel" class="carousel slide" >
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="http://cdn.cnn.com/cnnnext/dam/assets/200120161356-cnn-worlds-best-new-restaurants---madera---simon-brown-photography-1-1.jpg">
            </div>
            <div class="carousel-item">
            </div>
            <div class="carousel-item">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="div">
            </div>
            <br> <br>
            <h2 class="display-6" >Welcome to Great Spices </h2>
            <p class="lead" >A leading Indian Restaurant Chain in US, Canada, Australia, London, Italy and Japan  since 1875.</p>
        </div>
        <div class="col">
        <br>
            <img src="https://www.vasantmasala.com/media/wysiwyg/blog/Blog_12032019_Vasant_Cover.jpg" height="250px" width="600px" >
        </div>
    </div>
    <h4 class="lead mt-4">Our Outlets -</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Address</th>
                <th>Speciality</th>
            </tr>
        </thead>

            <tbody>
                <tr>
                    <td class="lead">Great Spices Moghul, 7 CR, Delhi</td>
                    <td class="lead"> Biryani, Chhole Kulche, Kabab, Mughlai Biryani, Garlic Naan, Butter Chicken   </td>
                </tr>
                <tr>
                    <td class="lead">Great Spices Bombay, BKC, Mumbai</td>
                    <td class="lead"> Bombay Biryani, Bombay Dosa, VadaPav, Grill Chicken, Bombay Masala Toast, Paav Bhaaji   </td>
                </tr>
                <tr>
                    <td class="lead"> Great Spices Maratha, Deccan, Pune</td>
                    <td class="lead"> Tambda Rassa , Kothimir Wadi, Misal, Maharshtra Thali, Aam Ras, Mastaani </td>
                </tr>
            </tbody>
    </table>
</div>